*{
    margin:0;
    padding:0;
    max-width: auto;
    box-sizing: border-box;
}
body{
    margin:0;
    font-size: 20px;
    color: white;
    background-color: #252422;
    font-family: monospace;
}
.navdiv{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.logo-div{
    font-size: 1.5em;
}

.nav-links{
    list-style-type: none;
    display: flex;

}
.nav-link{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

.nav-link:hover{
    color: black;
    background-color: white;
}

#Section1{
    width: auto;
}
.heroSection{
    margin: 50px 0px 100px;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#hero-element{
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.intro{
    align-self: self-start;
    font-size: 120%;
}

.intro-text{
    width: 400px;
    height: auto;
    font-size: 0.7em;
    letter-spacing: 1.5px;
    /* font-style: italic; */
    /* font-family: cursive; */
}

.intro-image{
    display: flex;
    flex-wrap: wrap;
    background-image: url("img/ayushsingh-removebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 550px;
}

.Section2{
    width: auto;
    background-color: #EB5E28;
    align-content: center;
}

.skill-box-parent{
    /* height: 720px; */
    margin: 0px 50px 100px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-box{
    margin: 50px 0px 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#skill1, #skill2, #skill3{
    color: #ccc5b9;
    font-size: 18px;
    background-color: #252422;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 10px 40px;
    align-content: center;
    text-align: justify;
    box-sizing: border-box;
}

#skill1:hover,  #skill2:hover, #skill3:hover{
    color: black;
    background-color: #ccc5b9;
}

.about-section{
    /* border: 2px solid lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box{
    width: auto;
    /* border: 1px solid red; */
    margin: 100px 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image{
    padding: 30px;
    /* border: 1px solid white; */
    border-radius: 200px;
    background-color: #FFFCF2;
    /* z-index: 2; */
}

#about-element{
    margin: 30px 0px;
}

.link-box{
    width: 70vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.link-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box > li{
    text-decoration: none;
    list-style-type: none;
}

.about-link-list{
    width: 45px;
    height: 45px;
    padding: 4px;
    margin: 5%;
    border-radius: 45px;
    background-color: white;
    border: 1px solid white;
}

.about-link-list:hover,:visited{
    background-color: transparent;
}

footer{
    margin: 50px 20px 10px;
    width: auto;
    bottom: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 8px;
}

@media (min-width:412px) and (max-width: 992px){
    .heroSection{
        flex-direction: column;
    }

    .intro-image{
        width: 50%;
        height: 50%;
    }
}


.contact-Section{
    width: 100%;
    height: auto;
}

.contactBox{
    height: auto;
    margin: 100px;
    padding: 100px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-div-element{
    color: white;
    margin: 20px;
    padding: 20px;
}

#contact-div-input{
    background-color: #252422;
}

